<div class="container">
        <app-title-page text="Bem vindo ao mundo pokemon" ></app-title-page>
        <app-input-filter type="text" label="Filtre seu pokemon" placeholder="Charmander..." id="filter-pokemon" (textOnInput)="filterPokemons($event)" ></app-input-filter>

        <div *ngIf="(pokemons$ | async) as pokemonsList; else loader">
          <div  class="example-viewport">
              <app-card-simple-pokemon  *ngFor="let pokemon of pokemonsList | filterByName: filter "
              [pokemon]="pokemon"> </app-card-simple-pokemon>
            </div>
        </div>

        <ng-template #loader>
          <app-loading-spinner></app-loading-spinner>
        </ng-template>


</div>
