/* You can add global styles to this file, and also import other style files */

*
*::after,
*::before {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}


html, body {
    background-color:#0D1117;
    font-family: DM Sans !important;
    height: 100%;
    /* background-image: url("assets/img/998181.jpeg"); */
}


hr {
  background-color: #fff;
}
